{{ define "main" }}
<section>
  <h2 class="mt-8 text-2xl font-extrabold">{{ i18n "shortcode.recent_articles" | emojify }}</h2>
  {{ $paginator := .Paginate (where .Site.Pages "Type" "post") }}
  {{ range first 5 (after 1 $paginator.Pages) }}  
	  {{ partial "article-link.html" . }}
  {{ end }}
</section>

{{ if .IsHome }}
	{{ if .Site.Params.paginate_home }}
		{{ partial "pagination" . }}
	{{ end }}
{{ else if .Site.Params.paginate_categories }}
	{{ partial "pagination" . }}
{{ end }}

{{ end }}
